/* styles.css */

:root {
    --background-color: white; /* Default background color */
  }
  
  body {
    background-color: var(--background-color);
    transition: background-color 0.3s ease;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

/* Navbar.css */
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  input[type="text"]:focus {
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow on focus */
  }
  

  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card h3 {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .selected {
    background-color: lightblue;
    transform: scale(1.05);
  }
  